DOH_maven/src/main/resources/schema/MEDRCPTNotice.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ReceiptNotice">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MesgInfo" nillable="true" type="messageInformation"/>
        <xsd:element name="Header" nillable="true">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DocInfo" nillable="true" type="rec_documentInformation"/>
              <xsd:element name="HospInfo" nillable="true" type="hospitalInformation"/>
              <xsd:element name="VendorInfo" nillable="true" type="vendorInformation"/>
              <xsd:element name="StatusInfo" nillable="true" type="statusInformation"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Items" nillable="true" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ItemInfo" nillable="true" type="rec_itemInformation"/>
              <xsd:element name="MedInfo" nillable="true" type="medicineInformation"/>
              <xsd:element name="ReceiptInfo" nillable="true" type="rec_receiptInformation"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ExtraDisamtInfo" nillable="true" type="rec_receiptExtraDisamtInformation" maxOccurs="unbounded"/>
        <xsd:element name="AlterReasonInfo" nillable="true" type="rec_receiptAltReasonInformation" maxOccurs="unbounded"/>
        <xsd:element name="CCDDeductible" nillable="true" type="rec_ReceiptCCDDeductibleInfo" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MEDRCPTNotice">
    <xsd:sequence>
      <xsd:element name="ReceiptNotice" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MesgInfo" nillable="true" type="messageInformation"/>
            <xsd:element name="Header" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="DocInfo" nillable="true" type="rec_documentInformation"/>
                  <xsd:element name="HospInfo" nillable="true" type="hospitalInformation"/>
                  <xsd:element name="VendorInfo" nillable="true" type="vendorInformation"/>
                  <xsd:element name="StatusInfo" nillable="true" type="statusInformation"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Items" nillable="true" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ItemInfo" nillable="true" type="rec_itemInformation"/>
                  <xsd:element name="MedInfo" nillable="true" type="medicineInformation"/>
                  <xsd:element name="ReceiptInfo" nillable="true" type="rec_receiptInformation"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ExtraDisamtInfo" nillable="true" type="rec_receiptExtraDisamtInformation" maxOccurs="unbounded"/>
            <xsd:element name="AlterReasonInfo" nillable="true" type="rec_receiptAltReasonInformation" maxOccurs="unbounded"/>
            <xsd:element name="CCDDeductible" nillable="true" type="rec_ReceiptCCDDeductibleInfo" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="messageInformation">
    <xsd:sequence>
      <xsd:element name="ProcessID" nillable="true" type="xsd:string"/>
      <xsd:element name="SenderID" nillable="true" type="xsd:string"/>
      <xsd:element name="ReceiverID" nillable="true" type="xsd:string"/>
      <xsd:element name="DocumentType" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_documentInformation">
    <xsd:sequence>
      <xsd:element name="AllianceID" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DocNo" nillable="true" type="xsd:string"/>
      <xsd:element name="Date" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PurchaserReceiptDate" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="TotalNetAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="InvoiceAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="ProcessType" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hospitalInformation">
    <xsd:sequence>
      <xsd:element name="HospID" nillable="true" type="xsd:unsignedInt"/>
      <xsd:element name="PurchasingDept" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Purchaser" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ReceiptDept" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ReceiptStaff" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vendorInformation">
    <xsd:sequence>
      <xsd:element name="VendorNo" nillable="true" type="xsd:unsignedInt"/>
      <xsd:element name="UePPVendor" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="statusInformation">
    <xsd:sequence>
      <xsd:element name="Status" nillable="true" type="xsd:string"/>
      <xsd:element name="UpdateDateTime" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_itemInformation">
    <xsd:sequence>
      <xsd:element name="ItemNo" nillable="true" type="xsd:string"/>
      <xsd:element name="PONo" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="POItemNo" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DeliveryDate" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="medicineInformation">
    <xsd:sequence>
      <xsd:element name="MedCode" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BatchNo" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CompNo" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Brand" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Spec" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Type" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BidNo" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DiscRate" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DiscAmt" nillable="true" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_receiptInformation">
    <xsd:sequence>
      <xsd:element name="ReceiptUnit" nillable="true" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Quantity" nillable="true" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0E10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="UnitPrice" nillable="true" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0E12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LineAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="DownAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="MinusAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="DiscountRate" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="DiscountAmount" nillable="true" type="xsd:float" minOccurs="0"/>
      <xsd:element name="NetLineAmount" nillable="true" type="xsd:float" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_receiptExtraDisamtInformation">
    <xsd:sequence>
      <xsd:element name="GoalReceiptNo" nillable="true" type="xsd:string"/>
      <xsd:element name="SourceReceiptNo" nillable="true" type="xsd:string"/>
      <xsd:element name="GoalSubDisamt" nillable="true" type="xsd:string"/>
      <xsd:element name="SourceDisamt" nillable="true" type="xsd:string"/>
      <xsd:element name="Memo" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_receiptAltReasonInformation">
    <xsd:sequence>
      <xsd:element name="RCPTMEMO" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rec_ReceiptCCDDeductibleInfo">
    <xsd:sequence>
      <xsd:element name="RECEIPTNO" nillable="true" type="xsd:string"/>
      <xsd:element name="Recovered_RECEIPTNO" nillable="true" type="xsd:string"/>
      <xsd:element name="Recovered_version" nillable="true" type="xsd:string"/>
      <xsd:element name="HOSPRGNO" nillable="true" type="xsd:string"/>
      <xsd:element name="SORT" nillable="true" type="xsd:string"/>
      <xsd:element name="RCASH_ID" nillable="true" type="xsd:string"/>
      <xsd:element name="DEDUCTIBLE_AMOUNT" nillable="true" type="xsd:string"/>
      <xsd:element name="RECOVERED_AMOUNT" nillable="true" type="xsd:string"/>
      <xsd:element name="MEMO" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>